<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>{Regression}</td><td>Login.TC00_LoginToApplication(java.lang.String)[pri:0, instance:com.cbk.profile.Login@cb644e]<br/></td></tr>
</table>
