<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>{Regression}</td><td>Login.TC00_LoginToApplication()[pri:0, instance:com.cbk.profile.Login@536aaa8d]<br/></td></tr>
</table>
